body{
  background-color: midnightblue;
  color: azure;
  font-family: optima, helvetica, sans-serif;
  margin: 10% 20%;
  background-color: #0c0052;
background-image: 3px-tile.png

}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid azure;
  border-bottom: 1px solid azure;
  background-color: rgba(0,0,0,  0.2)
}
