body{
  background-color: midnightblue;
  color: #F0FFFF;
  font-family: optima, helvetica, sans-serif;
  margin: 10% 10%;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  
}

.dates {
text-align: left;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  margin-top: 50px;
  
}



.name {
  text-align: center;
  position: relative; top:40%;
  transition: 1s, transform 1s;
}

.name:hover {
  color: magenta;
  transform: rotatex(360deg);
}

img {
  border-radius: 13px;
}

  
.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid azure;
  border-bottom: 1px solid azure;
  background-color: rgba(0,0,0,  0.2)
}
